# Python cruft
.cache 
*.egg-info 
dist 
build
*.pyc

# Project cruft
local_settings.py

# IDE cruft
.idea

# DB file
*.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
